@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px; /* Adjust as needed */
}

p {
  font-size: 16px; /* Adjust as needed */
}

.nav_text:hover {
  color: rgb(179, 89, 179);
}

.flip_images {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flip_images img {
  transition: opacity 1.5s ease-in-out;
}

.flip_images img:not(:first-child) {
  opacity: 0;
}

.btn {
  box-sizing: border-box;
}

.btn:hover {
  transform: scale(1.1);
}

.hdg {
  font-size: 50px;
  font-weight: 700;
}

.phdg {
  font-size: 30px;
  font-weight: 600;
}

.shdg {
  font-size: 20px;
}

.table tr th {
  height: 150px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px gray;
}

.left,
.right {
  position: relative;
  width: 50%;
}

.left {
  display: flex;
  justify-content: flex-end;
}

.images {
  transition: 1s ease-in-out 0ms;
}

.carouselslide {
  display: flex;
  justify-content: center;
}

.slide {
  display: flex;
  width: 70%;
  justify-content: center;
}

.carousel-inner {
  max-width: 70% !important;
}

.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50% 20%/ 10% 40%;
}

.box:hover {
  box-sizing: border-box;
  box-shadow: 0 30px 100px 1px black;
}

.content {
  font-size: 110%;
}

img {
  object-fit: cover;
}

.con_lower {
  z-index: -1;
  transform: translateY(-100%);
}

.con:hover div {
  z-index: 1;
  transform: translateY(0%);
  transition: 1s ease 0ms;
}

.con:hover {
  transform: scale(1.1);
  transition: 1s ease 0ms;
}

.itemstrip_course {
  background: url(/images/itemstrip_course.jpg);
  background-size: 70%;
  font-style: italic;
  display: flex;
}

.itemstrip_test {
  background: url(/images/itemstrip_test.jpg);
  background-size: 100%;
  font-style: italic;
  display: flex;
}

.itemstrip_labs {
  background: url(/images/itemstrip_labs.jpg);
  background-size: 60%;
  font-style: italic;
  display: flex;
}

.itemstrip_tools {
  background: url(/images/itemstrip_tools.jpg);
  background-size: 60%;
  font-style: italic;
  display: flex;
}

.itemstrip_hs {
  background: url(/images/itemstrip_hs.jpg);
  background-size: 60%;
  font-style: italic;
  display: flex;
}

.gride {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.gridd {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.griddr {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.griddd {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grido {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gridd-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gridd-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gridd-courses {
  display: grid;
  grid-template-columns: 0.4fr 2fr 0.3fr;
}

.calendar_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.border {
  border: 2px solid black;
}

input::placeholder {
  color: black;
}

.scrollbar {
  overflow: hidden;
  overflow-y: scroll;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(0, 0, 0);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  -webkit-animation: ball624 4s infinite;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(8px, -14px);
  }

  10% {
    transform: translate(15px, -10px);
  }

  17% {
    transform: translate(23px, -24px);
  }

  20% {
    transform: translate(30px, -20px);
  }

  27% {
    transform: translate(38px, -34px);
  }

  30% {
    transform: translate(45px, -30px);
  }

  37% {
    transform: translate(53px, -44px);
  }

  40% {
    transform: translate(60px, -40px);
  }

  50% {
    transform: translate(60px, 0);
  }

  57% {
    transform: translate(53px, -14px);
  }

  60% {
    transform: translate(45px, -10px);
  }

  67% {
    transform: translate(37px, -24px);
  }

  70% {
    transform: translate(30px, -20px);
  }

  77% {
    transform: translate(22px, -34px);
  }

  80% {
    transform: translate(15px, -30px);
  }

  87% {
    transform: translate(7px, -44px);
  }

  90% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@-webkit-keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@-webkit-keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@-webkit-keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@-webkit-keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .Telephone:hover,
.wrapper .Telephone:hover .tooltip,
.wrapper .Telephone:hover .tooltip::before {
  background: #60d96c;
  color: #fff;
}

.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background: #6b645d;
  color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #88d0fc;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover,
.wrapper .instagram:hover {
  background: linear-gradient(-110deg, rgb(183, 71, 67), rgb(224, 222, 98));
  color: #fff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: red;
}
