@tailwind base;
@tailwind components;
@tailwind utilities;

kit-scrollbar {
  width: 18px;
}

@media only screen and (min-width: 900px) {
  .body {
    width: 80%;
    margin: 0 auto;
    height: 100%;
  }
}

.image-resize {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: top;
  mix-blend-mode: multiply;
}

.image-change {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  mix-blend-mode: multiply;
}

.background {
  background-image: "public/images/background.png";
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c9a9a;
}

body {
  font-size: 14px;
  /* Adjust as needed */
}

p {
  font-size: 16px; /* Adjust as needed */
}

.custom-radio {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-radio input[type="radio"] {
  display: none;
}

.radio-label {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.radio-circle {
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-text {
  font-size: 1rem;
  color: #000000;
  transition: color 0.3s ease-in-out;
}

.custom-radio input[type="radio"]:checked + .radio-label {
  background-color: #c1c1c1;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-circle {
  border-color: #fff;
  background-color: #000000;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-text {
  color: #000000;
}

.makeLine {
  color: #000000;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
}

.makeLine:focus,
.makeLine:hover {
  color: #000000;
}

.makeLine:focus:after,
.makeLine:hover:after {
  width: 100%;
  left: 0%;
}

.makeLine:after {
  margin-bottom: -10px;
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.change {
  color: black;
  transition: 0.3s ease-in-out 0ms;
}

.change:hover {
  transition: 0.3s ease-in-out 0ms;
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
}

.change_button {
  color: black;
  transition: 0.3s ease-in-out 0ms;
}

.change_button:hover {
  transition: 0.3s ease-in-out 0ms;
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  transform: translateY(-20px);
}

.nav_text:hover {
  color: rgb(179, 89, 179);
}

.up_round {
  border-radius: 100px 100px 0 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out 0ms;
}

.bottom_round {
  height: 30em;
  display: flex;
  border-radius: 0% 0% 100px 100px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out 0ms;
}

.bottom_round:hover {
  height: 36em;
  border-radius: 0% 0% 100px 100px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out 0ms;
}

.bradius {
  border-radius: 100px;
}

.upper_round {
  border-radius: 0% 0% 50% 50%;
}

.upper_bottom_round {
  border-radius: 20%;
}

.flip_images {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flip_images img {
  transition: opacity 1.5s ease-in-out;
}

.flip_images img:not(:first-child) {
  opacity: 0;
}

.hdg {
  font-size: 50px;
  font-weight: 700;
}

.phdg {
  font-size: 30px;
  font-weight: 600;
}

.shdg {
  font-size: 20px;
}

.table tr th {
  height: 150px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px gray;
}

.images {
  transition: 1s ease-in-out 0ms;
}

.carouselslide {
  display: flex;
  justify-content: center;
}

.slide {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-inner {
  max-width: 70% !important;
}

.rect {
  padding: 2em;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  background: #ffffff;
  position: relative;

  &::before {
    content: "";
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50% 20%/ 10% 40%;
  transition: 0.3s ease-in-out 0ms;
}

.round:hover {
  scale: 1.1;
  border-radius: 30% 60%/ 50% 20%;
  transition: 0.3s ease-in-out 0ms;
}

.boxx {
  box-sizing: border-box;
  box-shadow: 0 5px 30px 1px black;
}

.box:hover {
  box-sizing: border-box;
  box-shadow: 0 30px 100px 1px black;
}

.content {
  font-size: 100%;
}

img {
  object-fit: cover;
}

.con_lower {
  opacity: 0;
  z-index: -1;
  transform: translateY(-100%);
}

.con:hover .con_lower {
  opacity: 1;
}
.con:hover div {
  z-index: 1;
  transform: translateY(0%);
  transition: 0.2s ease 0ms;
}

.con:hover {
  transform: scale(1.1);
  transition: 0.2s ease 0ms;
}

.itemstrip_course {
  background: url(/images/itemstrip_course.jpg);
  background-size: 70%;
  font-style: italic;
  display: flex;
}

.itemstrip_test {
  background: url(/images/itemstrip_test.jpg);
  background-size: 100%;
  font-style: italic;
  display: flex;
}

.itemstrip_labs {
  background: url(/images/itemstrip_labs.jpg);
  background-size: 60%;
  font-style: italic;
  display: flex;
}

.itemstrip_tools {
  background: url(/images/itemstrip_tools.jpg);
  background-size: 60%;
  font-style: italic;
  display: flex;
}

.itemstrip_hs {
  background: url(/images/itemstrip_hs.jpg);
  background-size: 60%;
  font-style: italic;
  display: flex;
}

.gride {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.gridthree_col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridthree {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.gridd {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.griddr {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.griddd {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grido {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gridd-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.gridd-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gridd-courses {
  display: grid;
  grid-template-columns: 0.4fr 2fr 0.3fr;
}

.calendar_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.border {
  border: 2px solid black;
}

input::placeholder {
  color: black;
}

.scrollbar {
  overflow: hidden;
  overflow-y: scroll;
}

.loader {
  width: 20px;
  scale: 5;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #0000;
  }
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .Telephone:hover,
.wrapper .Telephone:hover .tooltip,
.wrapper .Telephone:hover .tooltip::before {
  background: #73e27e;
  color: #fff;
}

.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
  background: #d09c71;
  color: #fff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #3c3b3b;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover,
.wrapper .instagram:hover {
  background: linear-gradient(-110deg, rgb(183, 71, 67), rgb(224, 222, 98));
  color: #fff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: red;
}
